
body {
     background-color: purple;
     padding: 100px;
}

h1,h2,h3,h4{
    margin:0;
}

#delicious{
    display:flex;
    align-items:center;
    justify-content: space-between;
    color: black;
    background-color: lightgreen;
    border-width: 10px; 
    border-color: grey;
    border-bottom-style: solid;
    padding: 20px;
}

#branding {
    display: flex;
}

#branding img{
    height: 42px;
    display:flex;
    align-items:center;
    margin-right: 5px;
}

#socialicons {
    display:flex;
}

#pizza {
    display: flex;
    justify-content:space-between;
    align-items: center; 
    padding: 30px 0;
    padding-bottom: 15px;
}

#print-button {
    height: 40px;
    width : 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#main img{
    width:100%;
}

p { 
    font-family: sans-serif;
    font-weight: 200;
    font-size: 16px;
}

form { 
    box-shadow:2px 2px 5px 1px rgb(17, 69, 223);
    color: blueviolet;
    padding:30px;
    display:flex;
    justify-content:space-around;
    margin: 50px 0; 
}
form #left{
    display:flex;
    flex-direction: column;
    
}
form #right{
    display:flex;
    flex-direction: column;
}
form label{
    color: red;
    background-color: lightgreen;
}

#recipe-button{
    background-color: lightgreen;
    padding:10px;
    border:none;
}

#bio{
    height: 42px;
    align-items:center;
    margin-right: 5px;
}

article footer {
    display:flex;
    align-items: center;
    border-width: 10px; 
    border-color: grey;
    border-top-style: solid;
    justify-content: space-around;
    align-items:center;
    padding-top: 20px;
 }

 #footer{
    padding-top: 40px;
    text-align: center;

 }